/* general  */

@font-face {
  font-family: "Game-of-Thrones";
  src: url("assets/Game-of-Thrones.ttf") format("truetype");
}

h1 {
  font-family: "Game-of-Thrones";
}

h2 {
  font-family: "Game-of-Thrones";
  font-size: 14px;
}
 

